<div class="row d-flex mb-5 contact-info">
  <div class="col-md-12 mb-4">
    <h2 class="h3 font-weight-bold">Contact Information</h2>
  </div>
  <div class="w-100"></div>
  <div class="col-md-4 d-flex">
    <div
      class="info d-flex justify-content-center align-items-center bg-solid-gray p-4"
    >
      <p><span>Phone: </span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
    </div>
  </div>
  <div class="col-md-4 d-flex">
    <div
      class="info d-flex justify-content-center align-items-center bg-solid-gray p-4"
    >
      <p>
        <span>Email: </span>
        <a href="mailto:info@yoursite.com">info@yoursite.com</a>
      </p>
    </div>
  </div>
  <div class="col-md-4 d-flex">
    <div
      class="info d-flex justify-content-center align-items-center bg-solid-gray p-4"
    >
      <p>
        <span>Github: </span>
        <a href="https://github.com/malusev998">Dusan Malusev</a>
      </p>
    </div>
  </div>
</div>
