arv-validation-messages {
  display: block;
}

.btn-custom {
  background-color: #fff;
  border-radius: 1px;
  margin-left: 3.5px;
  border: 0.2px solid #c2c2c2;
  &:hover {
    box-shadow: 1px 10px #000;
  }
}

input[type="email"] {
  border: 0.2px solid #c2c2c2 !important;
}
