<div class="flex-grow flex justify-center items-center">
    <section class="w-full h-full mt-16 px-5 sm:mt-0 sm:px-0 sm:w-8/12 sm:h-3/4">
        {{template "title" "About me"}}
        <section class="flex mt-10">
            <div class="w-1/2 mr-12">
                <img src="/public/img/about-image.jpg" alt="Image">
            </div>
            <div class="w-1/2">
                <h2 class="text-3xl">My name is Dusan Malusev</h2>
                <p class="text-lg mt-3">I'm backend software engineer from Serbia with relevant experience in
                    building various backend systems including payments, advertizment and other web applications. Maily
                    Go
                    and PHP developer with proven track record in both of them. Proud member of github oranisation <a
                        class="text-blue-400 hover:text-blue-600 transition-all"
                        href="https://github.com/BrosSquad">BrosSquad</a>, OpenSource lover and contributor to
                    several projects like <a class="text-blue-400 hover:text-blue-600 transition-all"
                        href="https://gofiber.io">Go Fiber</a> and <a class="text-blue-400"
                        href="https://github.com/malusev998/libsodium-core">Libsodium Core</a>.
                </p>
                <h3 class="text-xl mt-3">
                    Maintainor on projects:
                </h3>
                <ul class="mt-3">
                    <li><a class="text-blue-400 hover:text-blue-600 transition-all text-lg mt-5"
                            href="https://github.com/malusev998/jwt-go">JWT Go</a>
                    </li>
                    <li><a class="text-blue-400 hover:text-blue-600 transition-all text-lg mt-5"
                            href="https://github.com/malusev998/go-oauth2-server">
                            Go OAuth2 Server
                        </a>
                    </li>
                    <li><a class="text-blue-400 hover:text-blue-600 transition-all text-lg mt-5"
                            href="https://github.com/malusev998/go-oauth2-server">
                            Go OAuth2 Server
                        </a>
                    </li>
                </ul>
                <ul class="mt-10">
                    <li>
                        <span class="text-bold">Full Name</span> Dusan Malusev
                    </li>
                    <li>
                        <span class="text-bold">Age</span> 22
                    </li>
                    <li>
                        <span class="text-bold">Languages</span> English, Serbian, German
                    </li>
                    <li>
                        <span class="text-bold">Freelance Development</span> Available
                    </li>
                </ul>
                <div class="w-full xl:w-1/2 mt-8 mb-8 sm:mb-0">
                    <button class="w-full submit text-lg">download my CV</button>
                </div>
            </div>
        </section>

        <div class="mt-20"></div>
        {{template "title" "Development services"}}

        <div class="flex justify-between mt-10 mb-20">
            <div
                class="border-t-4 hover:border-blue-500 transition-all border-gray-700 w-auto mr-12 p-5 bg-main-dark-700">
                <h4 class="mt-7 text-xl">Backend Web Development</h4>
                <div class="w-9 mt-4 mb-9 border border-gray-400"></div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quod.</p>
            </div>
            <div
                class="border-t-4 hover:border-blue-500 transition-all border-gray-700 w-auto mr-12 p-5 bg-main-dark-700">
                <h4 class="mt-7 text-xl">Mobile App Development</h4>
                <div class="w-9 mt-4 mb-9 border border-gray-400"></div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quod.</p>
            </div>
            <div
                class="border-t-4 hover:border-blue-500 transition-all border-gray-700 w-auto mr-12 p-5 bg-main-dark-700">
                <h4 class="mt-7 text-xl">Mobile App Development</h4>
                <div class="w-9 mt-4 mb-9 border border-gray-400"></div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quod.</p>
            </div>
        </div>
    </section>
</div>
