<div class="flex-grow flex justify-center items-center relative">
  <div id="snow-effect" class="absolute top-0 left-0 w-full h-full z-0 flex justify-center items-center"></div>
  <section class="text-center z-10 flex justify-center flex-col mt-10 sm:mt-0">
    <h1 class="text-5xl mb-5">Hi, I am <span class="text-blue-400">Dusan Malusev</span></h1>
    <div class="text-center flex justify-center">
      <h2 class="text-2xl w-11/12 md:w-4/6 lg:w-8/12 xl:w-1/2 text-gray-400">
        Mainly Backend software engineer from Serbia with relevant experience in building
        various backend systems including payments, advertizment and other web applications.
      </h2>
    </div>
    <ul class="flex justify-center mt-5 mb-10">
      <li class="mr-5">
        <a class="border border-gray-400 hover:border-gray-200 block w-11 h-11 transition-all rounded-full"
          href="https://www.facebook.com/dmalusev/">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" class="icon p-2 w-full h-full rounded-full"
            viewBox="0 0 23 23">
            <path class="w-full h-full" d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
          </svg>
        </a>
      </li>
      <li class="mr-5">
        <a href="https://github.com/malusev998"
          class="border border-gray-400 hover:border-gray-200 block w-12 h-11 transition-all rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon w-full p-1 h-full rounded-full" width="28" height="28"
            viewBox="0 0 24 25">
            <g class="rounded-full w-full h-full">
              <rect width="24" height="24" opacity="0" />
              <path class="w-full h-full" fill="none"
                d="M16.24 22a1 1 0 0 1-1-1v-2.6a2.15 2.15 0 0 0-.54-1.66 1 1 0 0 1 .61-1.67C17.75 14.78 20 14 20 9.77a4 4 0 0 0-.67-2.22 2.75 2.75 0 0 1-.41-2.06 3.71 3.71 0 0 0 0-1.41 7.65 7.65 0 0 0-2.09 1.09 1 1 0 0 1-.84.15 10.15 10.15 0 0 0-5.52 0 1 1 0 0 1-.84-.15 7.4 7.4 0 0 0-2.11-1.09 3.52 3.52 0 0 0 0 1.41 2.84 2.84 0 0 1-.43 2.08 4.07 4.07 0 0 0-.67 2.23c0 3.89 1.88 4.93 4.7 5.29a1 1 0 0 1 .82.66 1 1 0 0 1-.21 1 2.06 2.06 0 0 0-.55 1.56V21a1 1 0 0 1-2 0v-.57a6 6 0 0 1-5.27-2.09 3.9 3.9 0 0 0-1.16-.88 1 1 0 1 1 .5-1.94 4.93 4.93 0 0 1 2 1.36c1 1 2 1.88 3.9 1.52a3.89 3.89 0 0 1 .23-1.58c-2.06-.52-5-2-5-7a6 6 0 0 1 1-3.33.85.85 0 0 0 .13-.62 5.69 5.69 0 0 1 .33-3.21 1 1 0 0 1 .63-.57c.34-.1 1.56-.3 3.87 1.2a12.16 12.16 0 0 1 5.69 0c2.31-1.5 3.53-1.31 3.86-1.2a1 1 0 0 1 .63.57 5.71 5.71 0 0 1 .33 3.22.75.75 0 0 0 .11.57 6 6 0 0 1 1 3.34c0 5.07-2.92 6.54-5 7a4.28 4.28 0 0 1 .22 1.67V21a1 1 0 0 1-.94 1z" />
            </g>
          </svg>
        </a>
        </li>
        <li class="mr-5"><a href="#stackoverflow"
            class="border border-gray-400 hover:border-gray-200 block w-11 h-11 transition-all rounded-full">
          </a>
        </li>
        <li class="mr-5"><a href="mailto:dusan@dusanmalusev.dev"
            class="border border-gray-400 hover:border-gray-200 block w-11 h-11 transition-all rounded-full">
            <svg class="icon w-full p-1 h-full rounded-full" width="28" height="28" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24">
              <g class="rounded-full w-full h-full"></g>
              <g class="rounded-full w-full h-full">
                <rect width="24" height="24" opacity="0" />
                <path class="w-full h-full"
                  d="M19 4H5a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3zm-.67 2L12 10.75 5.67 6zM19 18H5a1 1 0 0 1-1-1V7.25l7.4 5.55a1 1 0 0 0 .6.2 1 1 0 0 0 .6-.2L20 7.25V17a1 1 0 0 1-1 1z" />
              </g>
            </svg>
          </a>
      </li>
    </ul>
    <div class="flex justify-center mt-28">
      <form class="flex justify-center w-full sm:w-3/4 lg:w-1/2 items-center flex-col sm:flex-row" id="subscribe-form"
        action="/subscribe" method="post">
        <div class="form-group mt-6 w-3/4 mb-5 mr-0 sm:mt-0 sm:mr-5 sm:mb-0 relative">
          <p id="subscribe-form-name-error" class="error"></p>
          <label for="subscribe-form-name" class="label">Name</label>
          <input type="text" class="input w-full" id="subscribe-form-name" name="name" />
        </div>
        <div class="form-group mt-6 w-3/4 mb-5 mr-0 sm:mt-0 sm:mr-5 sm:mb-0 relative">
          <p id="subscribe-form-email-error" class="error"></p>
          <label for="subscribe-form-email" class="label">Email</label>
          <input class="input w-full" id="subscribe-form-email" type="email" name="email" />
        </div>
        <div class="form-group mt-6 sm:mt-0 w-3/4">
          <input type="submit" class="w-full submit text-lg" value="subscribe" />
        </div>
      </form>
    </div>
  </section>
</div>
