@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-dark-900: #10121b;
  --main-dark-700: #191d2b;
  --main-blue: #143055;
}

.bg-main-dark-900 {
  background-color: var(--main-dark-900);
}

.bg-main-dark-700 {
  background-color: var(--main-dark-700);
}

.bg-blue-nav {
  background-color: var(--main-dark-700);
}

.hover\:bg-blue-nav:hover {
  background-color: var(--main-blue);
}

.hover\:text-main-blue:hover {
  color: var(--main-blue);
}

.active {
  @apply text-white;
  @apply bg-blue-nav;
}

.icon path {
  fill: #ccc;
  transition: fill 0.6ms ease-in;
}

.icon:hover path {
  fill: #fff;
}


.input {
  @apply border;
  @apply border-gray-700;
  @apply transition-all;
  @apply pl-3;
  @apply py-2;
  @apply bg-transparent;
}

.form-group:hover .input {
  @apply border-blue-400;
  @apply bg-gray-900;
}

.submit {
  @apply border;
  @apply border-blue-500;
  @apply bg-blue-500;
  @apply transition-all;
  @apply py-2;
  @apply px-2;
  @apply uppercase;
  @apply cursor-pointer;
}

.submit:hover {
  @apply bg-blue-800;
  @apply border-blue-800;
}


.label {
  @apply absolute;
  @apply left-4;
  @apply bg-main-dark-900;
  @apply text-gray-500;
  @apply uppercase;
  @apply px-3;
  @apply transition-all;

  top: -13px;
}

.form-group:hover .label {
  @apply text-blue-400;
}

.input-error {
  @apply border;
  @apply border-red-500;
}

.error {
  @apply text-red-600;
  @apply absolute;

  top: -40px;
  left: 0;
}
