<div class="flex-grow flex justify-center items-center">
  <section class="text-center">
    <h1 class="text-5xl mb-5">Hi, I am <span class="text-blue-400">Dusan Malusev</span></h1>
    <h2 class="text-2xl text-gray-400">Software Developer</h2>
    <ul class="flex justify-center mt-5">
      <li class="mr-5">
        <a href="#facebook"> </a>
      </li>
      <li class="mr-5">
        <a href="#github"> </a>
      </li>
      <li class="mr-5"><a href="#stackoverflow"></a></li>
    </ul>
  </section>
</div>
