<div class="sidebar-box breadcrumbs-animate">
  <h3 class="sidebar-heading">Popular Articles</h3>
  <div class="block-21 mb-4 d-flex">
    <a
      class="blog-img mr-4"
      style="background-image: url(assets/images/malusev.png);"
    ></a>
    <div class="text">
      <h3 class="heading">
        <a href="#">Even the all-powerful Pointing has no control</a>
      </h3>
      <div class="meta">
        <div>
          <a href="#"><span class="icon-calendar"></span> Dec. 14, 2018</a>
        </div>
        <div>
          <a href="#"><span class="icon-person"></span> Dave Lewis</a>
        </div>
        <div>
          <a href="#"><span class="icon-chat"></span> 19</a>
        </div>
      </div>
    </div>
  </div>
</div>
