.author-image {
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  min-height: 450px;
  background-image: url("../../../../assets/images/malusev_small.png");
}
