<section class="ftco-section-no-padding bg-light">
  <div class="hero-wrap">
    <div class="overlay"></div>
    <div class="d-flex row">
      <div class="author-image mh-100 col-12 d-lg-none text img p-md-5"></div>
      <div
        class="author-info col-12 col-sm-12 col-lg-12 text px-4 p-md-5 mt-5 mb-5"
      >
        <div class="desc">
          <div class="container">
            <span class="subheading">Nice To Meet You</span>
            <h1 class="big-letter ml-5">Dušan Malušev</h1>
            <h1 class="mb-4"><span>My Name is Dušan Malušev</span></h1>
            <p class="mb-4">
              I am backend software engineer and 3rd year student, primarly
              focused on PHP and Go development. Open Source enthusiast
              currenlty working for
              <a href="https://www.nanointeractive.com/"> Nano Interactive</a>
              as backend developer with Phalcon Framework.<br />
              Proud member and owner of github organization
              <a href="https://github.com/BrosSquad">BrosSquad</a>. I mainly
              focus in cryptography research and contributions to the
              <a href="https://libsodium.gitbook.io/doc/">Libsodium</a>
              cryptographic library. Currenlty studing Information Technologies
              at ICT School of Vocational Studies in Belgrade, Web Development
              class.
            </p>
            <h3 class="signature h1 text-right">Dušan Malušev</h3>
          </div>

          <ul
            class="ftco-social mt-3 d-flex justify-content-between justify-content-md-center"
          >
            <li *ngFor="let s of social">
              <a [href]="s.url">
                <fa-icon [icon]="s.icon" stackItemSize="1x"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
